
p {
	padding-top: 1%;
	padding-bottom: 3%;
	padding-left: 10%;
	padding-right: 10%;

}

#workers {
	margin-left: 15%;
	width: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	float: right;
}

#card-img-1 {
	width: 83%;
	height: auto;
	margin-left: 1%;
	float: right;
	padding-top: 3%;
}

#card-img-2 {
	width: 83%;
	height: auto;
	margin-right: 1%;
	float: left;
	padding-top: 3%;
}

.aboutus {
	text-align: left;
	margin-right: 15% !important;
	margin-top: 10%;
	margin-bottom: 15%;
}

.customers1 {
	text-align: left;
	margin-left: 15% !important;
}

.customers2 {
	text-align: left;
	margin-right: 15% !important;
}

.row{
	margin-left: 1% !important;
	margin-right: 2% !important;
}

.brown-bg{
	background-color: #4D3A1C;
	color: white;
	padding: 20px;
	margin-left: 10%;
	margin-right: 10%;
	text-transform: uppercase;
}

.h2-brown-bg {
	background-color: #4D3A1C;
	color:white;
	padding: 10px;
	margin-left: 10%;
	margin-right: 9%;
}


.h2-brown-bg-2 {
	float: middle;
	background-color: #4D3A1C;
	color: white;
	padding: 10px;
	width: 100%;
	margin-left: 9%;
	margin-right: 10%;
}

#centered-text{
	text-align: center;
}

#inline-content{
	display: inline;
}

.white{
  color: white;
}

.perky-footer{
  padding-top: 15px;
  width: 80%;
}

@media (max-width: 650px) {
	#card-img-1 {
		float: none;
	}

	#card-img-2 {
		float: none;
	}

	.aboutus {
		margin-right: 0 !important;
		margin-top: 0;
	}

	.customers1 {
		margin-left: 0 !important;
	}

	.customers2 {
		margin-right: 0 !important; 
	}

	#workers {
		margin-left: 0 !important;
		padding-left: 20px;
		padding-right: 28px;
		float: none;
	}
}