.table-sm th, .table-sm td {
    background-color: #8D816E;
    color: white;
}

.col-2 {
    text-align: center;
}

.white-background {
    background-color: white;
    padding: 20px;
    text-transform: uppercase;
    color: #4D3A1C;
    width: fit-content;
    height: fit-content;
    padding-top: 20px;
}

.col-2, .col-6, .col-8, .col-4 {
    background-color: #8D816E;
    color: white;
}

.row {
    width: auto !important;
}

.rowOuter {
    background-color:#4D3A1C;
}

.rowInner {
    padding:20px;
}

.card-body {
    background: #8D816E;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: 1px solid rgba(86,61,124,.2);    
}

.col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.brown-bg{
	background-color: #4D3A1C;
	color:white;
	padding: 20px;
	text-transform: uppercase;
}

#centered-text{
	text-align: center;
}
